@media (max-width: 1280px){
    .cabecalho .titulo{
        font-size: 4rem;
    }

    .selecao-de-personagens .lista-de-personagens{
        max-width: 33rem;
    }

    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 10rem;
        height: 10rem;
    }

}

@media (max-width: 767px){
    body::before{
        background-image: url("../imagens/bg-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
    }

    main{
        padding: 0 0.5rem;
        justify-content: start;
    }

    .cabecalho .titulo{
        font-size: 2.2rem;
    }

    .selecao-de-personagens .personagem-grande{
        display: none;
    }
    
    .sound-bg {
        padding-top: 0.5rem;
        opacity: 1;
    }
}

@media(max-width: 360px){
    .cabecalho .titulo{
        font-size: 1.9rem;
    }
}